name: SonarQube

on:
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches:
      - prod

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          java-version: "17"

      # - name: Compile Java Project
      #   run: |
      #     javac Project.java

      # - name: Run Java Project
      #   run: |
      #     java Project

      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
